
.chosen-background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
}

.chosen-card-overlay {
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: large;
    text-align: center;
    line-height: auto;
}

.chosen-card {
    width: 60%;
    height: auto;
    margin: auto;
    background-color: rgba(0,0,0,0);
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.div {
    margin: auto;
}