body {
    background-color: #0B0A28;
    font-size: 26px;
    color: #fff;
    /* text-shadow: 0 0 3.5px #fff,
        0 0 2.5px #fff,
        0 0 7.5px #fff,
        0 0 10.5px #ff75ac,
        0 0 20.5px #ff75ac,
        0 0 23px #ff75ac; */
}

.question-button {
    border-style: none;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.game-name {
    margin: auto;
    font-size: 40px;
    text-shadow: 0 0 3.5px #fff,
        0 0 2.5px #fff,
        0 0 7.5px #fff,
        0 0 10.5px #ff75ac,
        0 0 20.5px #ff75ac,
        0 0 23px #ff75ac;
}

