.neon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 18rem;
    height: 3rem;
    background-image: url('../assets/placeholder-neon-button.jpg');
    color: white;
    font-size: large;
}